@import '../../assets/baseStyles.scss';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $accent-color;
  height: 802px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 35px 0;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
}
