@import '../../assets/baseStyles.scss';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $accent-color;
  height: 802px;
}

.logo {
  margin: 0 auto;
  outline: 3px solid red;
}

.wrapper {
  padding: 35px 0;
  width: 90%;
}
